* {
  font-family: "Open Sans", "PT Sans", "Roboto", "Lato", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

#navbar {
  border-right: 0.3rem solid #99a2a2;
  box-sizing: border-box;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 30rem;
}

#navbar header {
  font-size: 2.75rem;
  font-weight: 500;
  height: 5rem;
  padding: 1rem 0 1rem 4rem;
  width: 100%;
}

#navbar ul {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 500;
  height: calc(100% - 7rem);
  list-style: none;
  overflow: auto;
  width: 100%;
}

#navbar li {
  border-top: 0.05rem solid #4d4e53;
  box-sizing: border-box;
}

.nav-link {
  box-sizing: border-box;
  color: #4d4e53;
  display: block;
  height: 100%;
  padding: 1.5rem 3rem;
  text-decoration: none;
  user-select: none;
  width: 100%;
}

.nav-link:hover {
  font-weight: 600;
}

.nav-link:active {
  opacity: 75%;
}

#main-doc {
  box-sizing: border-box;
  float: left;
  font-size: 1.6rem;
  height: 100%;
  overflow: auto;
  padding: 1rem 0;
  width: calc(100vw - 30rem);
}

.main-section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
}

header h2 {
  font-size: 2.75rem;
  font-weight: 500;
  padding-top: 2rem;
}

#main-doc p {
  color: #4d4e53;
  margin-top: 1rem;
  padding-left: 1.75rem;
}

#main-doc ul {
  color: #4d4e53;
  padding: 1rem 0 0 7.75rem;
}

#main-doc ul ul {
  padding-left: 5.75rem;
}

#main-doc li {
  padding-top: 1rem;
}

#main-doc pre {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: inline-block;
  margin: 1rem 0 0 3.75rem;
  padding: 1rem;
  white-space: pre-line;
  width: calc(100% - 4rem);
}

#main-doc code {
  color: #4d4e53;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  font-size: 1.2rem;
  line-height: 2.75rem;
}

@media screen and (max-width: 375px) {
  #main-doc code.long_statment {
    font-size: 1rem;
  }
}

@media screen and (max-width: 815px) {
  html,
  body {
    overflow: auto;
  }
  #navbar {
    clear: left;
    height: 30rem;
    width: 100%;
  }
  #navbar header {
    padding: 1rem 0;
    text-align: center;
  }
  #navbar ul {
    border-bottom: 2px solid #4d4e53;
    border-top: 1px solid #4d4e53;
  }
  #main-doc {
    clear: left;
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  #main-doc ul ul {
    padding-left: 4rem;
  }
}
