*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'PT Sans', 'Roboto', 'Lato', Arial, sans-serif;
}

html, body{
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
  overflow: hidden;
}

a{
  color: #4D4E53;
  text-decoration: none;
}

a:hover{
  font-weight: 600;
}

a:active{
  opacity: 75%;
}

#navbar{
  box-sizing: border-box;
  float: left;
  width: 30rem;
  height: 100%;
  border-right: .3rem solid #99A2A2;
  overflow: hidden;
}

#navbar ul{
  font-size: 1.75rem;
  font-weight: 500;
  list-style: none;
  width: 100%;
  height: calc(100% - 5rem);
  overflow: auto;
  box-sizing: border-box;
}

#navbar li{
  box-sizing: border-box;
  background-color: yellow;
  border-top: .05rem solid #4D4E53;
}

.nav-link{
  box-sizing: border-box;
  display: block;
  width: 100%;
  user-select: none;
  padding: 3rem 2rem;
  height: 100%;
}

#navbar header{
  background-color: red;
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  padding: 1rem 0 0 1rem;
}

#main-doc{
  float: left;
  width: calc(100vw - 30rem);
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}